.splashholder {
  display: grid;
  max-height: 70vh;
  overflow: hidden;
}
.splashholder img {
  display: block;
  max-width: 100%;
  height: auto;
}

.splashholder img,
p,
button {
  grid-area: 1/1;
}

.splashholder p {
  color: white;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  letter-spacing: 0.2vw;
  font-weight: 500;
  font-size: 3rem;
  margin-top: 18rem;
}

button {
  width: 15vw;
  height: 3vw;
  place-self: center;
  background-color: black;
  color: white;
  border: none;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.3vw;
  font-weight: 100;
}
