#rabat_boks {
  text-align: center;
  height: 10vw;
  background-color: rgb(177, 177, 177);
  color: white;
  padding-top: 1vw;
}

#rabat_boks p {
  font-size: 0.7rem;
}

.splashholder {
  display: grid;
}
.splashholder img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: brightness(85%);
}
.splashholder p {
  color: white;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  margin-top: 3vw;
  z-index: 10;
  place-self: center;
  text-align: center;
  font-size: 1.6rem;
}
.splashholder img,
p {
  grid-area: 1/1;
}

.shopknap {
  width: 22vw;
  height: 5vw;
  place-self: center;
  background-color: black;
  color: white;
  border: none;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.3vw;
  font-weight: 100;
  z-index: 10;
  margin-top: 27vw;
  grid-area: 1/1;
}

/* styling og placering af main */

main h2 {
  margin-bottom: 5vw;
  text-align: center;
}

#popular_motiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin-bottom: 5vw;
}
#popular_motiv img {
  border: 2px solid black;
}

#insp_motiv {
  display: grid;
  place-items: center;
  gap: 4vw;
  margin-bottom: 5vw;
}
#insp_motiv img {
  width: 80%;
}

/* **************************************MEDIA QUERY************************************** */

@media screen and (min-width: 680px) {
  /* *******************GENERELT******************* */

  main section {
    grid-column: 2/3;
    margin-bottom: 4rem;
  }

  h2 {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
  }

  /* *******************styling af splashbilledet, <p> og <button> som ligger ovenpå splashbilledet******************* */
  .splashholder {
    display: grid;
    max-height: 70vh;
    overflow: hidden;
  }
  .splashholder img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .splashholder p {
    letter-spacing: 0.2vw;
    font-size: 3rem;
    margin-top: 1rem;
  }

  .shopknap {
    width: 16vw;
    height: 4vw;
    font-size: 1.1rem;
  }

  button:hover {
    background-color: #e4654f;
  }

  .splashholder img,
  p,
  button {
    grid-area: 1/1;
  }

  /* *******************styler rabat-række før splashbilledet******************* */
  #rabat_boks {
    background-color: rgb(184, 184, 184);
    height: 4rem;
  }
  #rabat_boks p {
    color: white;
    text-align: center;
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }

  #rabat_boks h3 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.14vw;
  }

  .lille_p {
    font-size: 0.7rem;
    margin-top: 2rem;
  }

  /* *******************styler section med populære motiver********************/
  #popular_motiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #popular_motiv img {
    border: solid black 3px;
  }

  /* *******************styler section med inspirations-motiver********************/
  #insp_motiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.1vw;
  }

  #insp_motiv img {
    height: auto;
    width: 100%;
  }
}
