/********** - Regler for for billederne - *****************/
#liste img {
  display: block;
  width: 400px;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 16/20;
  border: solid 2px black;
}
img:hover {
  box-shadow: 10px 10px 10px #888888;
}

a img:hover {
  box-shadow: none;
}
/* Regler for alle h-tags og p ***********' */
h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  text-align: center;
}

h3 {
  font-weight: 300;
}

p {
  text-align: end;
  padding-top: 9px;
}
/******* Regler for mine filtrings knapper + hover regler *****/
button {
  background-color: white;
  border: solid 3px #eb7c63;

  padding: 0.5rem;
  margin: 0.2rem;
  font-family: "BitterRoman-Regular", serif;
}
button p {
  padding: 0;
}
.hover_button button:hover {
  background-color: #eb7c63;
  color: white;
}
nav {
  text-align: center;
}
.hover_button {
  margin: 2.5rem;
}
/* ---------------- */

#menuknap:hover {
  background-color: none;
}

.valgt {
  color: black;
  background: e4654f;
}

#liste {
  max-width: 300px;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  z-index: 10;
}

.logo:hover {
  box-shadow: none;
}

.hoved_nav {
  margin: 0;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  place-items: center;
}

#liste {
  height: 26rem;
}
.pris {
  font-weight: bolder;
}
