/* -------------- */

button {
  background-color: white;
  border: solid 3px #eb7c63;

  place-self: baseline;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
button p {
  padding: 0;
}
button:hover {
  background-color: #eb7c63;
  color: white;
}
.indkobskurv {
  background-color: white;
  border: solid 3px #eb7c63;
  padding: 26px;
  text-align: center;
}
.indkobskurv:hover {
  background-color: #eb7c63;
  color: white;
}
p {
  font-family: "Montserrat", sans-serif;
}
.pic {
  margin-bottom: 1rem;
  border: solid 2px black;
  object-fit: cover;
}
.langbeskrivelse {
  margin-bottom: 1rem;
}
.ramme {
  margin-bottom: 1rem;
}
.pris {
  font-weight: bolder;
  margin-bottom: 00.5rem;
}
/* -------------- */
@media (min-width: 800px) {
  img {
    /* display: block; */
    width: 400px;
    max-width: 100%;
    aspect-ratio: 16/20;

    grid-row: 1/5;
    place-items: center;
  }

  .pic {
    border: solid 2px black;
    object-fit: cover;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
    place-items: center;
    margin-top: 0;
  }
  .liste {
    padding-top: 26px;
  }

  button {
    background-color: white;
    border: solid 3px #eb7c63;

    place-self: baseline;
    font-family: "Montserrat", sans-serif;
    padding: 0.5rem;
    margin-bottom: 0;
  }
  button p {
    padding: 0;
  }
  button:hover {
    background-color: #eb7c63;
    color: white;
  }
  .liste {
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-gap: 5px;
  }
  .indkobskurv {
    background-color: white;
    border: solid 3px rgb(235, 124, 99);
    padding: 35px;
    place-self: center;
  }
  .indkobskurv:hover {
    background-color: #eb7c63;
    color: white;
  }
  .langbeskrivelse {
    grid-row: 1/1;
    grid-column: 2/3;
  }
  .pris {
    grid-row: 2/2;
    grid-column: 2/3;
  }

  .ramme {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .indkobskurv {
    grid-column: 2/3;
    grid-row: 4/4;
    place-self: start;
  }

  .hjerte_svg {
    background-size: cover;
    width: 5vw;
    height: 5vw;
    border: none;
    place-self: start;

    grid-column: 3/3;
    grid-row: 4/4;
    z-index: 1;
  }

  .hjerte_svg:hover {
    background-image: url(img/heart_red.png);
    width: 5vw;
    height: 5vw;
    place-self: start;
    z-index: 10;
  }
}
@media (min-width: 1000px) {
  .liste {
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-gap: 5px;
  }
}

@media (min-width: 1330px) {
  .liste {
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 5px;
  }
}
